<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                    <mat-accordion>
                      <mat-expansion-panel (opened)="panelOpenState = true"
                                           (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Enter Project Details Here
                          </mat-panel-title>
                          <mat-panel-description>
                            
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <form>
                          <div class="row">
                            <div class="col-md-4">
                              <mat-form-field appearance="fill">
                                <mat-label>Project Name</mat-label>
                                <input matInput>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field appearance="fill">
                                <mat-label>Api Name</mat-label>
                                <input matInput>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field appearance="fill">
                                <mat-label>Estimated By</mat-label>
                                <input matInput>
                              </mat-form-field>
                            </div>
                          </div>
                        </form>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field appearance="fill">
                                  <mat-label>API/Adapter Name</mat-label>
                                  <input matInput>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field appearance="fill">
                                  <mat-label>Version</mat-label>
                                  <mat-select>
                                    <mat-option value="V1">V1</mat-option>
                                    <mat-option value="V2">V2</mat-option>
                                    <mat-option value="V3">V3</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field appearance="fill">
                                  <mat-label>Method</mat-label>
                                  <mat-select>
                                    <mat-option value="Get">Get</mat-option>
                                    <mat-option value="Put">Put</mat-option>
                                    <mat-option value="Post">Post</mat-option>
                                    <mat-option value="Delete">Delete</mat-option>
                                    <mat-option value="Patch">Patch</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                                <div class="col-md-3">
                                  <mat-form-field appearance="fill">
                                    <mat-label>Existing</mat-label>
                                    <mat-select>
                                      <mat-option value="Yes">Yes</mat-option>
                                      <mat-option value="No">No</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field appearance="fill">
                                    <mat-label>Complexity</mat-label>
                                    <mat-select>
                                      <mat-option value="Low">Low</mat-option>
                                      <mat-option value="Medium">Medium</mat-option>
                                      <mat-option value="High">High</mat-option>
                                      <mat-option value="VeryHigh">High</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                              <br>
                              <br>
                              <br>
                              <br><br>
                          </div>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button mat-raised-button type="submit" class="btn btn-danger ">View Your Estimation</button>
                          <div class="clearfix"></div> 
                      </form> 
                  </div>
              </div>
          </div>
          <!-- <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</div>
